@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.redes-socias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.6;
}

.invisible {
  display: none;
}

@media (max-width: 800px) {
  body {
    font-size: 16px;
  }
}

.nav {
  padding: 30px 0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.nav--bg {
  background-color: #f0f0f0;
  -webkit-box-shadow: 6px 6px 3px rgba(37, 37, 37, 0.192);
          box-shadow: 6px 6px 3px rgba(37, 37, 37, 0.192);
  z-index: 99;
}

.flex--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container--menu {
  width: 76%;
}

.logo--nav {
  width: 200px;
  margin-right: 35px;
}

.menu li {
  padding: 0 15px;
  color: #990c6e;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0;
}

.responsive-menu {
  display: none;
}

.btn {
  background-color: #f7425a;
  padding: 15px 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.281);
          box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.281);
  text-transform: uppercase;
}

.btn:hover {
  background-color: #f7223e;
}

.m-menu {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
  .logo--nav {
    width: 150px;
  }
  .responsive-menu {
    display: block;
    width: 25px;
    cursor: pointer;
  }
  .container--menu {
    width: 22%;
  }
  .m-menu {
    display: block;
    text-align: right;
  }
  .flex--m-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .m-menu li {
    color: #990c6e;
    font-weight: 600;
    padding: 15px 0;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    width: 30%;
  }
}

@media (max-width: 450px) {
  .responsive-menu {
    width: 20px;
  }
  .btn--nav {
    font-size: 11px;
    padding: 8px 18px;
    -webkit-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.171);
            box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.171);
  }
  .logo--nav {
    min-width: 100px;
  }
}

.header--bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.918)), to(rgba(0, 0, 0, 0.349))), url("../assets/imagens/bg-img.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.918), rgba(0, 0, 0, 0.349)), url("../assets/imagens/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header--titulo {
  font-size: 180px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  padding: 0px;
  margin-top: 150px;
  border: 0px;
  opacity: 0.75;
  line-height: 1;
  text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.281);
  z-index: 0;
}

.header--subtitulo {
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  font-weight: 400;
  padding-bottom: 15px;
  padding: 0 15px;
  border: 0px;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.247);
}

.line-subtitle {
  border-top: 1px solid #fff;
  width: 150px;
}

.btn--header {
  font-size: 25px;
  padding: 20px 60px;
  margin: 30px;
}

.call {
  background-color: #F0F0F0;
  padding: 50px;
}

.flex--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  width: 80%;
  font-size: 16px;
  padding-left: 10px;
}

.li-bold {
  font-weight: 600;
  text-transform: uppercase;
}

.icon--header {
  width: 50px;
}

@media (max-width: 1200px) {
  .header--titulo {
    font-size: 100px;
  }
  .header--subtitulo {
    font-size: 16px;
  }
  .line-subtitle {
    width: 40px;
  }
}

@media (max-width: 800px) {
  .header--bg {
    min-height: 40vh;
    height: 300px;
    width: 100%;
  }
  .header--titulo {
    font-size: 80px;
  }
  .btn--header {
    font-size: 20px;
    padding: 15px 45px;
  }
  .box {
    font-size: 12px;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icon--header {
    width: 30px;
  }
  .flex--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .header--bg {
    min-height: 20vh;
    height: 300px;
    width: 100%;
  }
  .header--titulo {
    font-size: 50px;
    margin-top: 60px;
  }
  .subtitle-container {
    display: none;
  }
  .btn--header {
    font-size: 16px;
    padding: 10px 20px;
    margin: 20px;
  }
  .flex--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .call {
    padding: 25px;
  }
  .call-mg {
    margin: 15px 0;
  }
}

.container__sobre {
  background-color: #aa485f;
}

.container__conteudo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container__conteudo--imagem {
  width: 100%;
  height: auto;
}

.container__conteudo--artigo {
  margin: 0 auto;
  margin-top: 10%;
  width: 65%;
}

.container__conteudo--btn {
  background-color: #ba6e7f;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 45px;
  font-size: 18px;
  margin-bottom: 30px;
}

.container__borda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10%;
}

.container__conteudo--texto {
  color: #fff;
}

.container__conteudo--texto p {
  margin-bottom: 20px;
  line-height: 180%;
}

.container__conteudo--texto h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 7%;
}

.icones {
  width: 30px;
}

.borda {
  border-bottom: solid 1px #fff;
  width: 150px;
}

.redes-sociais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 420px) {
  .container__conteudo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__conteudo--imagem {
    display: none;
  }
}

table {
  background-color: #F0F0F0;
  width: 60%;
  margin: 0.5% auto;
}

table tr {
  height: 30px;
}

table tr:first-child {
  color: #f7425a;
  font-weight: bold;
  text-transform: uppercase;
}

.destaque__agenda {
  color: #2a1419;
}

.container__agenda h2 {
  font-size: 30px;
  text-align: center;
  color: #990c6e;
  padding: 3%;
  text-transform: uppercase;
}

.container__horario {
  width: 25%;
  padding-left: 20px;
}

@media (max-width: 420px) {
  .container__horario {
    width: 20%;
  }
}

.background {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(217, 0, 255, 0.322))), url("../assets/imagens/nubank.jpg");
  background-image: linear-gradient(rgba(217, 0, 255, 0.322)), url("../assets/imagens/nubank.jpg");
  background-position: cover;
  height: 124vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: contain;
}

.flex-linha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.linha {
  border-top: 1px solid #fff;
  width: 93px;
  margin-top: 10px;
  margin-right: 5px;
}

.logo {
  height: 164px;
  padding: 2%;
  text-align: center;
}

.logo_img {
  margin-top: 5%;
  width: 280px;
}

.endereco_texto {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5%;
}

.textos {
  width: 50%;
  background-color: #792b77;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

#local {
  margin-top: 5%;
}

.endereco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 60%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding-bottom: 5%;
}

.mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caixa_mapa {
  margin-top: 5%;
  width: 447px;
  height: 300px;
}

@media (max-width: 600px) {
  .background {
    background-color: #792b77;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .logo_img {
    margin-top: 5%;
    width: 191px;
  }
  .logo {
    height: 164px;
    padding: 2%;
    text-align: center;
  }
  .textos {
    width: 82%;
  }
  .caixa_mapa {
    height: 241px;
  }
}

@media (max-width: 420px) {
  .background {
    background-color: #792b77;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .logo_img {
    margin-top: 5%;
    width: 191px;
  }
  .logo {
    height: 164px;
    padding: 2%;
    text-align: center;
  }
  .textos {
    width: 82%;
  }
  .caixa_mapa {
    height: 241px;
  }
}

@media (max-width: 720px) {
  .background {
    background-color: #792b77;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .logo_img {
    margin-top: 5%;
    width: 191px;
  }
  .logo {
    height: 164px;
    padding: 2%;
    text-align: center;
  }
  .textos {
    width: 82%;
  }
  .caixa_mapa {
    height: 241px;
  }
}

@media (max-width: 900px) {
  .background {
    background-color: #792b77;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .logo_img {
    margin-top: 5%;
    width: 191px;
  }
  .logo {
    height: 125px;
    padding: 2%;
    text-align: center;
  }
  .textos {
    width: 82%;
  }
  .caixa_mapa {
    height: 241px;
  }
}

h2 {
  padding: 5%;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
}

.palestrantes {
  background-color: #792b77;
  padding-bottom: 5%;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

.over {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.over:hover .icone_linkedin {
  opacity: 1;
}

.over:hover {
  opacity: 1;
}

.icone_linkedin {
  font-size: 16px;
  position: absolute;
  opacity: 1;
  display: block;
  width: 216px;
  height: 230px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 20%;
  margin: 5% 2.5% 0% 2.5%;
  height: 300px;
  -webkit-box-shadow: 7px 6px 18px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 7px 6px 18px -5px rgba(0, 0, 0, 0.4);
  position: relative;
}

.card .texto__card {
  background-color: white;
  width: 100%;
}

.card .imagem__card > img {
  position: relative;
  width: 100%;
}

.card p {
  margin: 5px 0px 10px 0px;
  padding-left: 10px;
}

.card h6 {
  margin: 10px 0px 0px 0px;
  padding-left: 10px;
  color: #f7425a;
  font-size: 16px;
}

.patrons {
  padding: 30px;
}

.patrons h2 {
  text-align: center;
  font-size: 30px;
  color: #990c6e;
}

.patron-1 {
  height: 100px;
  padding: 10px;
}

.patron-2 {
  height: 50px;
  padding: 10px;
}

.patron-2a {
  height: 30px;
  padding: 10px;
}

.patron-2b {
  height: 35px;
  padding: 10px;
  margin-bottom: 15px;
}

.patron-3 {
  height: 40px;
  padding: 10px;
}

.patron-3a {
  height: 100px;
  padding: 10px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-patron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15px;
}

.title-patron {
  color: #990c6e;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #990c6e;
  text-align: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 700px) {
  .title-patron {
    font-size: 14px;
  }
  .patron-1 {
    height: 50px;
    padding: 5px;
  }
  .patron-2 {
    height: 30px;
    padding: 5px;
  }
  .patron-2a {
    height: 20px;
    padding: 5px;
  }
  .patron-2b {
    height: 23px;
    padding: 5px;
    margin-bottom: 15px;
  }
  .patron-3 {
    height: 25px;
    padding: 5px;
  }
  .patron-3a {
    height: 55px;
    padding: 5px;
  }
  .flex-patron {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.container-contato {
  width: 60vw;
  margin: 0 auto;
}

.bg-contato {
  background-color: #F0F0F0;
  padding: 30px;
}

.contato-p {
  font-size: 14px;
  margin-bottom: 20px;
}

.contato-email {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
}

.input {
  padding: 10px;
  opacity: 0.7;
  margin: 5px 0;
}

.input--email {
  width: 300px;
  margin-left: 10px;
}

.contato-box {
  display: block;
  margin: 2px;
  padding: 25px;
  padding-top: 5px;
  border: 2px solid #792b77;
}

.contato-box legend {
  text-transform: uppercase;
  color: #792b77;
  padding: 0 5px;
  font-weight: 600;
}

.submit-contato {
  margin-left: 5px;
  background-color: #792b77;
  color: #fff;
  padding: 10px 15px;
  text-transform: uppercase;
}

.submit-contato:hover {
  background-color: rgba(121, 43, 119, 0.8);
}

@media (max-width: 800px) {
  .input--email, .input {
    width: 80%;
    margin-left: 0;
  }
  .contato-box p {
    font-size: 12px;
  }
  .submit-contato {
    margin-left: 0;
    margin-top: 5px;
  }
}

.footer__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2a1419;
}

.footer__bg .logo--footer {
  width: 150px;
  margin-top: 25px;
}

.footer__bg li {
  padding-left: 10px;
  opacity: 0.6;
}

.footer__bg ul {
  width: 38%;
  margin: 25px auto;
}

@media (max-width: 420px) {
  .footer__bg ul {
    width: 75%;
  }
}

.footer__menor {
  padding: 10px;
  color: #F0F0F0;
}

footer {
  text-align: center;
  color: #fff;
  font-size: 12px;
  background-color: #41292e;
}

.footer__reprograma {
  color: #a77497;
}

.icones--footer {
  width: 25px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */