@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.6;
}

.invisible {
  display: none;
}

.nav {
  padding: 30px 0;
  position: fixed;
  width: 100%;
  top: 0;
}

nav-bg {
  background-color: #fff;
}

.flex--nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container--menu {
  width: 70%;
}

.logo--nav {
  width: 200px;
}

.menu li {
  padding: 0 15px;
  color: #990c6e;
  font-weight: 600;
}

.btn {
  background-color: #f7425a;
  padding: 15px 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.281);
          box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.281);
  text-transform: uppercase;
}

.btn:hover {
  background-color: #f7223e;
}

.header--bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.918)), to(rgba(0, 0, 0, 0.349))), url("../assets/imagens/bg-img.jpg");
  background-image: linear-gradient(rgba(255, 255, 255, 0.918), rgba(0, 0, 0, 0.349)), url("../assets/imagens/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
}

.flex--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header--titulo {
  font-size: 180px;
  text-transform: uppercase;
  color: #990c6e;
  font-weight: 400;
  padding: 0px;
  margin-top: 150px;
  border: 0px;
  line-height: 1;
}

.header--subtitulo {
  font-size: 29px;
  text-transform: capitalize;
  color: #990c6e;
  font-weight: 400;
  padding-bottom: 15px;
  border: 0px;
}

.btn--header {
  font-size: 25px;
  padding: 20px 60px;
  margin: 30px;
}

.call {
  background-color: #F0F0F0;
  padding: 50px;
}

.flex--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  width: 80%;
  font-size: 18px;
  padding-left: 10px;
}

.li-bold {
  font-weight: 600;
  text-transform: uppercase;
}

.icon--header {
  width: 70px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */