// font-family
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $fonte-padrao;
}


button{
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.container{
    width: 80%;
    margin: 0 auto;
}

ul{
    padding-left: 0
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;

    &:hover{
        opacity: 0.6;
    }
}

.invisible {
    display: none;
}


@media(max-width: 800px){
    body {
        font-size: $fonte-padrao-mobile;
    }
}
