.header--bg{
    background-image: linear-gradient(rgba(255, 255, 255, 0.918),
    rgba(0, 0, 0, 0.349)),
    url('../assets/imagens/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    height: 80vh;
    width: 100vw;

}

.flex--header{
    @include flex(center, center);
    flex-direction: column; 
    height: 100%;
}

.header--titulo{
    @include title($fonte-titulo-principal, uppercase, $cor-fonte-roxo);
    font-weight: 400;
    padding: 0px;
    margin-top: 150px;
    border: 0px;
    line-height: 1;

}

.header--subtitulo{
    @include title($fonte-subtitulo-principal, capitalize, $cor-fonte-roxo);
    font-weight: 400;
    padding-bottom: 15px;
    border: 0px;
}

.btn--header {
    font-size: 25px;
    padding: 20px 60px;
    margin: 30px;
}

.call {
    background-color: $cor-fundo-cinza;
    padding: 50px;
}

.flex--container{
    @include flex(center, space-around);
}
.flex{
    @include flex(center, center);
}

.box {
    width: 80%;
    font-size: 18px;
    padding-left: 10px;
}

.li-bold {
    font-weight: 600;
    text-transform: uppercase;
}

.icon--header {
    width: 70px;
}



