.background{
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(217, 0, 255, 0.322))), url("../assets/imagens/nubank.jpg");
    background-image: linear-gradient(rgba(217, 0, 255, 0.322)), url("../assets/imagens/nubank.jpg");
    background-position:cover;
    height: 117vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: contain;
}

.flex-linha{
    @include flex(flex-start, space-between)
    
}
.linha{
    border-top: 1px solid $cor-branca;
    width: 93px;
    margin-top: 10px;
    margin-right: 5px;
}

.logo{
    height: 164px;
    padding: 2%; 
    text-align: center; 
}

.logo_img{
    margin-top: 5%; 
    width: 280px; 
}

.endereco_texto{
    font-size: 14px; 
    font-weight: bold; 
    margin-bottom: 5%;
}
.textos{
    width: 50%; 
    background-color: $cor-fundo-roxo;
    color: $cor-branca; 
    font-family: $font-family;
}

#local{
    margin-top: 5%; 
}

.endereco{
    @include flex(center, center);
    flex-direction: column;
    margin: 0 auto; 
    max-width:60%; 
    font-family: $font-family;
    font-size: 16px; 
    padding-bottom: 5%; 
}

.mapa  {
    @include flex(center, center); 
}

.caixa_mapa{
    margin-top: 5%;
    width: 447px;
    height: 250px;
}

@media(max-width:600px){
    
    .background {
        background-color: $cor-fundo-roxo;
        @include flex(center, center); 
        background-repeat: no-repeat;
        background-size: cover;  
        background-position: center;
    }
    .logo_img{
        margin-top: 5%; 
        width: 191px; 
    }
    .logo{
        height: 164px;
        padding: 2%; 
        text-align: center; 
    }
    .textos{
        width: 82%; 
    }
    .caixa_mapa{
        width: 100%;
    }
}


@media(max-width: 420px){

    .background {
        background-color: $cor-fundo-roxo;
        @include flex(center, center); 
        background-repeat: no-repeat;
        background-size: cover;  
        background-position: center;
        height: 130vh;
    }
    .logo_img{
        margin-top: 5%; 
        width: 191px; 
    }

    .logo{
        height: 164px;
        padding: 2%; 
        text-align: center; 
    }
    .textos{
        width: 82%; 
    }
    .caixa_mapa{
        height: 241px;
        width: 100%;
    }
}

@media(max-width: 720px){
    .background {
        background-color: $cor-fundo-roxo;
        @include flex(center, center); 
        background-repeat: no-repeat;
        background-size: cover;  
        background-position: center;

    }
    .logo_img{
        margin-top: 5%; 
        width: 191px; 
    }

    .logo{
        height: 164px;
        padding: 2%; 
        text-align: center; 
    }
    .textos{
        width: 82%; 
    }
    .caixa_mapa{
        width: 100%;
    }
}

<<<<<<< HEAD
@media(max-width:600px){
    
    .background {
        background-color: $cor-fundo-roxo;
        @include flex(center, center); 
        background-repeat: no-repeat;
        background-size: cover;  
        background-position: center;
    }
    .logo_img{
        margin-top: 5%; 
        width: 191px; 
    }
    .logo{
        height: 164px;
        padding: 2%; 
        text-align: center; 
    }
    .textos{
        width: 82%; 
    }
    .caixa_mapa{
        width: 100%;
    }
}


@media(max-width: 420px){

    .background {
        background-color: $cor-fundo-roxo;
        @include flex(center, center); 
        background-repeat: no-repeat;
        background-size: cover;  
        background-position: center;
    }
    .logo_img{
        margin-top: 5%; 
        width: 191px; 
    }

    .logo{
        height: 164px;
        padding: 2%; 
        text-align: center; 
    }
    .textos{
        width: 82%; 
    }
    .caixa_mapa{
        height: 241px;
        width: 100%;
    }
}

@media(max-width: 720px){
    .background {
        background-color: $cor-fundo-roxo;
        @include flex(center, center); 
        background-repeat: no-repeat;
        background-size: cover;  
        background-position: center;
    }
    .logo_img{
        margin-top: 5%; 
        width: 191px; 
    }

    .logo{
        height: 164px;
        padding: 2%; 
        text-align: center; 
    }
    .textos{
        width: 82%; 
    }
    .caixa_mapa{
        width: 100%;
    }
}

=======
>>>>>>> 009a6dfc73cc226620bc0c1a5e1474c05e3cf050
@media(max-width: 900px){
    .background {
        background-color: $cor-fundo-roxo;
        @include flex(center, center); 
        background-repeat: no-repeat;
        background-size: cover;  
        background-position: center;
<<<<<<< HEAD
=======

>>>>>>> 009a6dfc73cc226620bc0c1a5e1474c05e3cf050
    }
    .logo_img{
        margin-top: 5%; 
        width: 191px; 
    }

    .logo{
        height: 128px;
        padding: 2%; 
        text-align: center; 
    }
    .textos{
        width: 82%; 
    }
    .caixa_mapa{
        width: 100%;
    }
}

@media(max-width: 1024px){

    .background {
        background-color: $cor-fundo-roxo;
        @include flex(center, center); 
        background-repeat: no-repeat;
        background-size: cover;  
        background-position: center;

    }

    .logo_img{
        margin-top: 5%; 
        width: 191px; 
    }

    .logo{
        height: 128px;
        padding: 2%; 
        text-align: center; 
    }
    .textos{
<<<<<<< HEAD
        width: 82%; 
=======
        width: 70%; 
>>>>>>> 009a6dfc73cc226620bc0c1a5e1474c05e3cf050

    }
    .caixa_mapa{
        width: 100%;
    }


}