.background{
    // background-image: linear-gradient(rgba(93, 32, 143, 0), rgba(140, 0, 255, 0)), url("../assets/imagens/nubank.jpg");
    background-image: linear-gradient( rgba(217, 0, 255, 0.322)), url("../assets/imagens/nubank.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    height: 85vh;
    width:100%;

}

.textos{
    background-color: $cor-fundo-roxo;

}
.endereco{
    
    max-width:40%; 
}
