
.nav {
    padding: 20px 0; 
    position: fixed;
    width: 100%; 
    top: 0; 
    background-color: rgba($color: #ffffff, $alpha: 0.0);
    transition: 0.3s all;
}

.nav--bg {
    background-color: rgba($color: #f0f0f0, $alpha: 1.0);
    box-shadow: 6px 6px 3px rgba(37, 37, 37, 0.192);
    z-index: 99;
}

.flex--nav{
    @include flex(center, space-between);
}

.container--menu {
    width: 76%;
}

.logo--nav {
    width: 180px; 
    margin-right: 35px;
}

.menu li {
    padding: 0 15px;
    color: $cor-fonte-roxo;
    font-weight: 600;
    text-transform: uppercase;
    font-size: $fonte-padrao;
    margin: 0;

}

.responsive-menu {
    display: none;
}

.btn {
    background-color: $cor-btn;
    padding: 15px 25px; 
    color: $cor-branca;
    font-size: $fonte-btn;
    font-weight: 600;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.281);
    text-transform: uppercase;
}

.btn:hover {
    background-color: #f7223e;
}

.m-menu {
    display: none;
}

.active {
    color: #f7425a;
}

#link_logo:hover {
    opacity: 1;
}

@media(max-width: 1024px){

    .menu {
        display: none;
    }

    .logo--nav {
        width: 100px;
    }

    .responsive-menu {
        display: block;
        width: 25px;
        cursor: pointer;
    }

    .container--menu {
        width: 22%;
    }

    .m-menu {
        display: block;
        text-align: right; 
    }

    .flex--m-mobile {
        @include flex(flex-end, flex-end);
        flex-direction: column; 
    }

    .m-menu li {
        color: $cor-fonte-roxo;
        font-weight: 600;
        padding: 15px 0; 
        text-transform: uppercase; 
        border-bottom: 2px solid $cor-branca;
        width: 41%;
    }

}

@media (max-width: 650px){
    .logo--nav {
        min-width: 80px;
    }

}

@media(max-width:450px){

    .responsive-menu {
        width: 20px;
    }

    .btn--nav {
        font-size: 11px;
        padding: 8px 18px;
        margin-left: 20px;
        box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.171);
    }
    .logo--nav {
        min-width: 100px;
        margin-right: 10px;
    }


}
