h2{
    padding-top: 5%;
    text-align: center;
    margin: 0;
    text-transform: uppercase; 
    font-size: 30px;
    color: $cor-branca; 
}

.palestrantes{
    background-color: $cor-fundo-roxo;
    padding-bottom: 5%; 
}

.cards{
    @include flex(center, center);
    flex-wrap: wrap;
}

.row_cards{
    // @include flex(center);
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

.veja-mais{
    display: none;
}

.hide-cards {
    display: inline-block;
}

.over{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top:0;
    //left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

    &:hover .icone_linkedin{
        opacity: 1;
    }

    &:hover {
        opacity: 1;
    }
}

.icone_linkedin{
    font-size: 16px;
    //padding: 16px 32px;
    position: absolute; 
    opacity: 1;
    display: block;
    max-width: 216px;
    height: 230px;
    transition: .5s ease;
    backface-visibility: hidden;
    width: 100%;
}


.card{
    @include flex(center, flex-end);
    flex-flow: column wrap;
    width: 20%;
    margin: 5% 2.5% 0% 2.5%;
    // height: 300px;
    -webkit-box-shadow: 7px 6px 18px -5px rgba(0,0,0,0.4);
    -moz-box-shadow: 7px 6px 18px -5px rgba(0,0,0,0.4);
    box-shadow: 7px 6px 18px -5px rgba(0,0,0,0.4);
    position: relative;
    max-height: 100%;
    //width: 50%;
    .texto__card{
        background-color: white;
        width: 100%
    }

    .imagem__card {
        background-color: transparent;
    }

    .imagem__card > img {
        position: relative;
        width:100%;
       
    }

    .cargo {
        font-weight: bold
    }

    p{ 
        margin: 0px 0px 6px 0px;
        padding-left: 10px
    }

    h6 {
        margin: 10px 0px 0px 0px;
        padding-left: 10px;
        color: $cor-btn;
        font-size: $fonte-padrao;
    }
}

@media(max-width: 420px){

    h2 {
        font-size: 25px;
        padding-bottom: 18px;
    }

    .palestrantes{
        background-color: $cor-fundo-cinza;
    }
    .row_cards{
        @include flex(center, center);
        
    }

// #mobile-cards{
//         display: none;
//     }
    
    .card{
        width: 40%;
    }
    // .imagem__card{
    //     width: 100px;
    //     height: 115px;
    // }
    .icone_linkedin{
        width: 100%;
        max-width: 216px;
        display: none;
    }
#h2-mobile{
        color: $cor-fonte-roxo;
    }
    .veja-mais{
        display: block;
        text-transform: uppercase;
        color: $cor-fonte-roxo;
        font-weight: 600;
        padding-top: 20px;
    }

    .hide-cards {
        display: none;
    }

.over{
    display: none;
}

}