
.cards{
    @include flex(center, center);
}


.container{
   .cards{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center; 
    width:300px;
    height: 300px;
   }
}