.container__sobre {
    background-color: $cor-fundo-sobre;
}

.container__conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container__conteudo--imagem {
width: 100%;
height: auto;
}

.container__conteudo--artigo {
margin: 0 auto;
margin-top: 10%;
width: 65%;

}

.container__conteudo--btn {
    background-color: #ba6e7f;
    color: $cor-branca;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 45px;
    font-size: $fonte-btn;
    margin-bottom: 30px;
}

.container__borda{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;    
}

.container__conteudo--texto {
    color: $cor-branca;
    
    p {
        margin-bottom: 20px;
        line-height: 180%;
    }

    h2 {
        font-size: $fonte-subtitulo-principal;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 7%;
    }
}

.icones {
    width: 30px;
}

.borda {
    @include borda;
    width: 150px;
}

.redes-sociais {
    @include flex(center, space-between);
    // flex-direction: row;
    
}

//Breakpoint

@media (max-width: $mobile) {
    .container__conteudo {
        display: flex;
        flex-direction: column;
    }

    .container__conteudo--imagem {
        display: none;
    }
}




