// cores
$cor-principal: #1d1819;
$cor-branca: #fff;
$cor-fonte-roxo: #990c6e;
$cor-fundo-roxo: #792b77;
$cor-fundo-cinza: #F0F0F0;
$cor-fundo-sobre: #aa485f;
$cor-rodape: #312f2f;
$cor-reprograma: #a77497;
$cor-btn: #dd3d53;
$cor-redes-sociais: rgba(255, 255, 255, 0.836);

// tamanhos de fontes
$fonte-titulo-principal: 180px;
$fonte-subtitulo-principal: 20px;
$fonte-padrao-large: 20px;
$fonte-btn: 18px;
$fonte-padrao: 16px;
$fonte-subtitulo: 30px;
$fonte-section: 38px;
$fonte-rodape: 12px;

$fonte-padrao-mobile: 16px;

// fontes
$font-family: 'Source Sans Pro', sans-serif;

// breakpoint
$mobile: 420px;











