// cores
$cor-principal: #2a1419;
$cor-branca: #fff;
$cor-fonte-roxo: #990c6e;
$cor-fundo-roxo: #792b77;
$cor-fundo-cinza: #F0F0F0;
$cor-fundo-sobre: #aa485f;
$cor-rodape: #41292e;
$cor-reprograma: #a77497;
$cor-btn: #f7425a;
$cor-redes-sociais: #6565;

// tamanhos de fontes
$fonte-titulo-principal: 180px;
$fonte-subtitulo-principal: 26px;
$fonte-btn: 18px;
$fonte-padrao: 18px;
$fonte-subtitulo: 30px;
$fonte-section: 38px;
$fonte-rodape: 12px;

$fonte-padrao-mobile: 16px;

// fontes
$font-family: 'Source Sans Pro', sans-serif;

// breakpoint
$mobile: 420px;











